@use 'custom' as *;

#root {
    /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.space-between {
    justify-content: space-between;
}
.w-full {
    width: 100%;
}
.w-auto {
    width: auto;
}
.vl {
    border-left: 2px solid gray;
    height: 50px;
}
.align-center {
    align-items: center;
}
.bg-gray {
    background-color: #f0f0f0bf;
}
.bg-white {
    background-color: white;
}
.side-nav-box2 {
    padding: 10px;
}
.abyss-c-ctQGgh,
.abyss-page-footer-sub-wrapper {
    justify-content: unset;
}
.abyss-page-footer-container {
    margin: 0px;
}
.side-nav-bar-margin {
    // margin-top: 20px;
    // margin-left: 20px;
}
.side-nav-bar-border-radius {
    border-radius: 10px;
}
.abyss-c-PJLV-iiiNqUo-css,
.abyss-c-PJLV-ikfWlwY-css {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.abyss-c-fDMPlj {
    justify-content: none !important;
    align-items: none !important;
    margin: none !important;
}
.gap-20 {
    gap: 20px;
}
.gap-10 {
    gap: 10px;
}
.col {
    flex-direction: column;
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.flex {
    display: flex;
}

nav ul li {
    display: inline;
    margin-left: 1rem;
}

.text-error {
    color: red;
}

.border-R {
    border-radius: 10px !important;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
}

.navbar-custom-style header > div {
    max-width: none;
}

.abyss-page-header-logo-title {
    color: #4b4d4f !important;
}

.three-steps-title {
    font-size: 20px !important;
    font-family: AbyssUHCSans, Arial, sans-serif !important;
}

.border-line {
    height: 1px;
    border-top: 1px solid;
    width: 120%;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: -30px !important;
    color: #cbcccd;
}

/* Define the white color */

#root {
    /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.space-between {
    justify-content: space-between;
}
.w-full {
    width: 100%;
}
.w-auto {
    width: auto;
}
.vl {
    border-left: 2px solid gray;
    height: 50px;
}
.align-center {
    align-items: center;
}
.bg-gray {
    background-color: #f0f0f0bf;
}
.bg-white {
    background-color: white;
}
.side-nav-box2 {
    padding: 10px;
}
.abyss-c-ctQGgh,
.abyss-page-footer-sub-wrapper {
    justify-content: unset;
}
.abyss-page-footer-container {
    margin: 0px;
}
.side-nav-bar-margin {
    // margin-top: 20px;
    // margin-left: 20px;
}
.side-nav-bar-border-radius {
    // border-radius: 10px;
}
.abyss-c-PJLV-iiiNqUo-css,
.abyss-c-PJLV-ikfWlwY-css {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.abyss-c-fDMPlj {
    justify-content: none !important;
    align-items: none !important;
    margin: none !important;
}
.gap-20 {
    gap: 20px;
}
.gap-10 {
    gap: 10px;
}
.col {
    flex-direction: column;
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.flex {
    display: flex;
}

nav ul li {
    display: inline;
    margin-left: 1rem;
}

.text-error {
    color: red;
}

.border-R {
    border-radius: 10px !important;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
}

.navbar-custom-style header > div {
    max-width: none;
}

.abyss-page-header-logo-title {
    color: #4b4d4f !important;
}

.three-steps-title {
    font-size: 20px !important;
    font-family: AbyssUHCSans, Arial, sans-serif !important;
}

.border-line {
    height: 1px;
    border-top: 1px solid;
    width: 120%;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: -30px !important;
    color: #cbcccd;
}

.history-container {
    width: 21vw;
    height: 81vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: white; /* Set background color */
}

.history-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.history-content {
    flex: 1;
    margin-top: 20px;
    overflow-y: auto;
    height: 56vh;
    width: 550px;
}

.history-card {
    margin-bottom: 10px;
}
.abyss-c-caSfjn-fBQZri-cv {
    border-bottom-left-radius: 5px;
    height: 56.35vh;
    overflow: scroll;
}

.history-card-section {
    padding: 15px;
}

.history-card-content {
    align-items: center;
}
.history-section {
    margin-bottom: 15px;
    padding: 15px;
}

.view-all-link {
    display: block;
    text-align: right;
    font-size: 20px;
    color: #007bff; /* Blue color for the link */
    text-decoration: none;
}

.historyPage-container {
    width: 80%; /* Adjust width as needed */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.historyPage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    align-items: center;
}

.calendar-icon {
    font-size: 20px;
    margin-left: 10px;
}

.historyPage-content {
    padding: 20px;
}

.historyPage-section {
    margin-bottom: 20px;
}

.historyPage-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.file-icon {
    font-size: 24px;
    margin-right: 15px;
}

.file-info {
    flex: 1;
}

.download-icon {
    font-size: 20px;
    color: #007bff;
    cursor: pointer;
}

.view-all-link {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #007bff; /* Blue color for the link */
    text-decoration: none;
}
.view-all-link :hover {
    text-decoration: underline;
}
/* // Add CSS for the popup */
.download-popup {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* border: aquamarine; */
    box-shadow: black;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 0px #8080805e;
}

.popup-content {
    text-align: center;
}
.justify-center {
    justify-content: center;
}
.download-popup button {
}

.history-tabs .abyss-tabs-root .abyss-tabs-tab-active-line {
    display: none;
}
.history-tabs .abyss-tabs-root .abyss-tabs-tab-content {
    height: auto;
}

.history-tabs .abyss-tabs-root > div[role='tablist'] {
    border-bottom-width: 0;
}

.history-tabs .abyss-tabs-root {
    border-radius: 24px;
    background-color: #ecebeb;
    border: none;
}

.history-tabs .abyss-tabs-root button {
    color: #4b4d4f;
    background-color: transparent;
    border: none;
    border-right: 1px solid;
    border-radius: 24px 0 0 24px;
    display: flex;
    height: 40px;
    min-height: 40px;
    padding: 4px 0px 4px 4px;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

/* .history-tabs .abyss-tabs-root > div[role="tablist"] {
  border-bottom-width: 0;
}
.history-tabs .abyss-tabs-root button {
  border-radius: 24px;
  display: flex;
  height: 40px;
  min-height: 40px;
  padding: 4px 0px 4px 4px;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.history-tabs .abyss-tabs-root button[aria-selected="true"] {
  background-color: #196ECF;
  color: #fff;
  font-size: 14px;
  ;

}

 */

//  border: 1px solid;
//     padding: 8px 11px;
//     border-radius: 20px;
//     background-color: #196ECF;
//     color: #fff;
// }

.history-tabs {
    .abyss-tabs-root {
        border-radius: 0px;
        background-color: #ecebeb;

        .abyss-tabs-tab-active-line {
            display: none;
        }
        .abyss-tabs-tab-content {
            height: auto;
        }

        button {
            color: #4b4d4f;
            background-color: transparent;
            border: none;
            border: 1px solid gray;
            border-radius: 0px;
            display: flex;
            height: 40px;
            min-height: 40px;
            padding: 8px 15px;
            justify-content: center;
            align-items: center;
            gap: 1px;
            margin-right: 0px;
        }
        & > div[role='tablist'] {
            border-bottom-width: 0;

            border-right: none !important;
        }
        [aria-selected='true'] {
            // border: 1px solid;
            padding: 8px 11px;
            border-radius: 0px;
            background-color: #196ecf;
            color: #fff;
        }
    }
}
.abyss-c-esCbFz-eyigIT-cv > * {
    margin-right: 0px;
}
.abyss-page-footer-container > div {
    justify-content: center;
}
.abyss-c-iLXGlV {
    border-width: 0px;
    position: relative;
    left: -10px;
}


.abyss-c-cQEvpD {
    display: none !important;
}

.color-warn {
    color: #f5b700 !important;
}

.center-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    font-size: 18px;
}

.abyss-c-cQEvpD {
    display: none !important;
}

.abyss-page-footer-copyright-container {
    margin-top: 8px;
}

.abyss-nav-menu-viewport-container {
    right: -210px;
}

.abyss-c-PJLV .abyss-table-header-data{
    color: white;
}
.abyss-c-gNUnQF {
    background-color: #002677 !important;
}

.history-tabs .abyss-tabs-root [aria-selected=true] {
    background-color: white;
    border-top: 2px solid #196ECF;
    color: black;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
    font-size: 14px;
}
.history-tabs .abyss-tabs-root [aria-selected=false] {
    background-color: white;
    border-top: 0px solid white;
    color: black;
    background-color:#F3F3F3;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
    font-size: 14px;
}
