.nav-container-right ul > li:first-child {
    position: relative;
}

@media (max-width: 480px) {
    /* Styles for mobile devices */
}

@media (min-width: 481px) and (max-width: 767px) {
    /* Styles for mobile devices in landscape mode */
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets in portrait mode */
}

@media (min-width: 1025px) and (max-width: 1280px) {
    /* Styles for tablets in landscape mode */
}

@media (min-width: 1281px) and (max-width: 1600px) {
    /* Styles for laptops and desktops */
    .nav-container-right ul > li:first-child {
        left: -30%;
    }
}

@media (min-width: 1601px) {
    /* Styles for large screens */
    .nav-container-right ul > li:first-child {
        left: -42%;
    }
}
