.upload-container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // margin-bottom: 20px;
    // background-color: white;
    // h2 {
    //     margin-bottom: 2rem;
    // }

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    /* margin-bottom: 20px; */
    /* background-color: white; */
    height: calc(100% - 125px);
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.alert-container {
    position: fixed;
    top: 0;
    z-index: 999;
    right: 32%;
    width: 550px;
}

ul.abyss-file-upload-tray-container li:nth-child(2) {
    display: none;
}
.abyss-c-knRSDk {
    left: 30px;
}

.abyss-c-ioYtOu {
    height: 60vh;
    // width: 80vh !important;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.button-container button {
    margin-right: 20px;
    margin-top: 16px;
}